:root {
    --mainFont: fantasy, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
    }
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
 }

 h1 {font-size: var(--fs-h1);}
 h2 {font-size: var(--fs-h2);}
 h3 {font-size: var(--fs-h3);}

body {
    background-color: rgba(233, 216, 119, 0.534);
    margin: 0;
    line-height: 1.6;

}

header {
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: -15px;
    display: flex;
}


header nav {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
    padding-right: 35px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: var(--mainFont);
}


img {
    display: block;
    max-width: 100%;
}

footer {
    font-size: medium;
    font-weight: bold;
    font-family: var(--mainFont);
    display: flex;
    flex-direction: column;
}

footer ul li {
    display: inline;
    justify-content: space-between;
    float: right;
    padding-right: 35px;
}